<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mp.dao.UserMapper">

    <!--<select id="selectCustom" resultType="com.ljh.mp.entity.User">-->
    <!-- 配置了 mybatis-plus.typeAliasesPackage，resultType 可以直接写 User -->
    <select id="selectCustom" resultType="User">
        select * from user ${ew.customSqlSegment}
    </select>

    <select id="selectCustomPage" resultType="map">
        select u1.id, u1.name, u2.name managerName
        from user u1
        left join user u2 on u1.manager_id = u2.id
        ${ew.customSqlSegment}
    </select>
</mapper>